/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success,
.green {
    color: #4caf50
}

.error-snack {
    background-color: #dc3545;
    color: white;
}

.success-snack {
    background-color: #4caf50;
    color: white;
}